body {
  background: linear-gradient(180deg, rgb(14, 41, 56) 0%, rgb(0, 0, 0) 90%);
  color: white;
  height: 100vh;
  margin: 20px;
}

#top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 10px;
}

.container-newgame {
  text-align-last: center;
}

.header {
  border-left: 2px solid rgb(255, 255, 255);
}

.score {
  display: flex;
}

.new-game,
.back {
  border: 2px solid white;
  background: linear-gradient(45deg, rgb(4, 121, 156) 0%, rgb(214, 214, 210) 100%);
  font-size: large;
  font-weight: bolder;
}

#round {
  justify-content: center;
  border: 2px solid white;
  background: linear-gradient(45deg, rgb(62, 127, 145) 0%, rgb(214, 214, 210) 100%);
}

#player-score,
#cpu-score {
  text-align-last: center;
  border: 2px solid white;
  background: linear-gradient(45deg, rgb(104, 126, 133) 0%, rgb(214, 214, 210) 100%);
  margin: 10px;
}

.choose {
  display: flex;
  justify-content: center;
  border: 2px solid white;
  background: grey;
  font-size: x-large;
  margin-bottom: 20px;
}

.img-choose {
  border: 4px solid rgb(0, 0, 0);
  width: 26vw;
  height: calc(30vw * 0.8);
  object-fit: cover;
  border: 2px solid white;
  margin: auto;
  padding: 10px;
  border-radius: 25%;
  max-width: 200px;
  max-height: 200px;
  justify-content: center;
}

.container {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
}

#player-choice,
#cpu-choice {
  width: 50%;
  max-width: 250px;
  height: 15em;
}

.vs {
  justify-content: center;
  align-self: center;
  font-size: 3em;
  padding: 20px;
}

#result {
  font-size: xx-large;
  text-align: center;
}

.flex-container {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

#slide-text {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 1;
  font-family: inherit;
  font-weight: bold;
}

#slide-img {
  display: flex;
  height: 200px;
  width: 200px;
  z-index: 1;
}

@media (min-width: 768px) {
.container-topRight {
  display: contents;
}
}


@media (max-width: 767px) {

  .new-game {
    margin-top: 10px;
  }

  body {
    text-align-last: center;
  }

  #top {
    display: inline-block;
  }


  .container-topRight {
    display: flex;
    flex-direction: column;
  }

  .flex-container {
    margin-left: 50px;
  }

  .new-game,
  .back {
    font-size: medium;
  }

  .header {
    font-size: medium;
  }

  .choose {
    font-size: small;
  }

  .img-choose {
    width: 20vw;
    height: calc(25vw * 0.8);
    max-width: 150px;
    max-height: 150px;
  }

  #player-choice,
  #cpu-choice {
    height: 10em;
  }

  .vs {
    font-size: 2em;
    padding: 10px;
  }

  #result {
    font-size: large;
  }

  #slide-text {
    font-size: small;
  }

  #slide-img {
    height: 100px;
    width: 100px;
    margin-left: auto;
    justify-content: flex-end;
  }
  
  #rules {
    margin-top: -100px;
    text-align-last: start;
  }
}
