.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}

.icons-container {
    display: flex;
    text-align: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.button {
    font-size: 1.2em;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
    background-color: #337AA3;
    color: white;
    border: none;
    border-radius: 4px;
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
    width: fit-content;
    align-self: center;
    display: flex;
    align-items: center;
    margin-top: 60px;
    transition: transform 0.3s ease-in-out; 
}

img {
    box-shadow: 5px 10px 15px 0px rgba(0, 0, 0, 1); 
    border-radius: 25%; 
    transition: transform 0.3s ease-in-out; 
}

img:hover {
    transform: scale(1.05);
}

.button:hover {
    transform: scale(1.05); 
}

a {
    margin: 10px;
    color: inherit !important;
}
